<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   
    <h1>Hello <%= @user.first_name %>,</h1>
    <p>
      Your API Key is generated successfully at <%= @site[:site_name] %>. <br/>
      API Key is: <%= @key %>.
    </p>
    <br/>
    <p>Thanks for joining and have a great day!</p>
    <br/>
    <p>Thanks ,</p>
    <p>System Administrator.</p>
   
  </body>
</html>