<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   
    <h3>Hello <%= @user.first_name %>,</h3>
    <p>
      You are invited to <%= @site[:site_name] %> by <%= @admin[:first_name] %>. Click on below link to set your Password.<br/>
      Link : <%= @url %>
    </p>
    <p>
      
    </p><br/>
    <p>Thanks ,</p>
    <p>System Administrator.</p>
   
  </body>
</html>