<%= form_for(@mobile_login) do |f| %>
  <% if @mobile_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile_login.errors.count, "error") %> prohibited this mobile_login from being saved:</h2>

      <ul>
      <% @mobile_login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
