<section>
	<div class="main" style="min-height: 420px;">
		<div class="shadow marT20 pad15">
			<p><%= I18n.t 'manage_account_close_page.your_account_closed_now_thanks'%></p>
	        <a href="<%= APP_CONFIG['development']['site_url'] %>" class="btn" ><%= I18n.t 'join.conti'%></a>
		</div>
	</div>
</section>
