
<div id="closedd">
	 <div id="page_we">
	    <div id="content">
     
			 <% @act_class = 'Credit Cards' %>         	
		     <%= render(:partial => "account_sidebar" , :object => :collection) %>    
		   
             <div class="content_right">
         		<h2><%= I18n.t 'manage_account_credit_card.saved_credit_cards'%></h2>
     			<p style="text-align: center;"><%= I18n.t 'manage_account_credit_card.you_have_no_credit_cards_saved'%></p>           
 			 </div>
 			 
        </div>
    </div>
</div>
	

