
<div id="closedd">
	 <div id="page_we">
	    <div id="content">
     
			 <% @act_class = 'Invoices' %>         	
		     <%= render(:partial => "account_sidebar" , :object => :collection) %>    
		   
             <div class="content_right">
         		<h2><%= I18n.t 'manage_account_invoices.invoices'%></h2>
     			<p style="text-align: center;"><%= I18n.t 'manage_account_invoices.you_no_invoices_generated'%></p>           
 			 </div>
 			 
        </div>
    </div>
</div>
	

