
<section>
	<div class="main" style="min-height: 420px;">
		<div class="shadow marT20 pad20 textcenter">
			
				<h2>You can not join your own affiliate program! </h2>
				<a class="btn marT25"  href="<%= APP_CONFIG['development']['site_url'] %>">Continue</a>
				
		</div>	
	</div>
</section>